.text-pad {
padding-bottom: 29px;
}

.masthead {
    color: white;
    padding: 3rem 0 7rem;
    position: relative;
    background-color:rgb(2, 116, 192);
    background-image: url(/public/images/bk-home.jpg),linear-gradient(-10deg,rgb(0, 57, 104) 0%,#0000 100%);
    background-size: cover;
    z-index: 0;
    .shape {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.034);
        top: 0;
        left: 0;
        z-index: -1;
        border-radius:78% 22% 77% 23% / 29% 66% 34% 71%;
    }
}

.row {
    margin: 15px;
  }

  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('/public/images/polo1.jpg') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
  div.row > div > div.row {
    margin-bottom: 15px;
}
html {
    background-color: #02709e;
}
body {
    background: #fefefe;
    padding-bottom: 50px;
}
div.top-container {
    padding-top:100px;
    background-color: #02709e;
    color:#ccc;
}
div.top-container h1 {
    color:white;
}
div.top-container a {
    color:#ccc;
    border-bottom:1px dotted white;
}
div.top-container a:hover {
    color: white;
    cursor:pointer;
    border-bottom:1px solid white;
    text-decoration: none;
}
div.top-header {
    margin-bottom:100px;
}
h2 {
    background-color:#02709e;
    color:white;
    display:inline-block;
    padding:6px;
    margin-top:100px;
}
h3 {
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom:1px solid #f2f2f2;
    margin-top: 50px;
}
h4 {
    margin-top:25px;
}
figure {
    position: relative;
}
figure figcaption {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    bottom: 10px;
    right: 20px;
    position: absolute;
    background-color: #000;
}
code[data-code], code.block-code {
    display:block;
    overflow:scroll;
    font-size:12px;
white-space: pre;
}
table {
    font-size:12px;
}
.footer {
    text-align: center;
}
.footer span {
    margin-top:100px;
    font-size:12px;
    background-color:#02709e;
    color:white;
    display:inline-block;
    padding:6px;
}
.footer span a {
    color:#ccc;
    border-bottom:1px dotted white;
}
.footer span a:hover {
    cursor:pointer;
    color: white;
    border-bottom:1px solid white;
    text-decoration: none;
}
a.anchorjs-link {
    color:black;
}
a.anchorjs-link:hover {
    color:#02709e;
    text-decoration: none;
}