
/*----------------------------------------body-home-styles---------------------------------------*/
a{
  text-decoration: none;
}
li{
  list-style:none;
}
body.encloser {
  background: linear-gradient(220deg, #dfe9f3 0%, white 100%);
}
