/*body ul.gallery {
  display: inline-block;
  list-style: none outside none;
  margin: 0 0 76px;
  max-width: none;
  padding: 72px 0 0;
  width: 100%;
}
body ul.gallery li {
  border: none;
  float: left;
  margin: 0 10px;
  padding: 0;
  width: 300px;
}
body ul.gallery li a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
}
body ul.gallery li a img {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: auto;
}
*/
