
/*
div.container-b{
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 220px minmax(200px, auto);
  grid-gap: 40px;
  align-items: start;
  justify-content: start;
}

a.text-item{
  display: grid;
  align-self: center;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 0.02em;
  line-height: 30px;
  text-align: left;
  margin: 10px 10px 150px 20px;
  padding: 20px 35px 0px 35px;
  text-align: right;
  text-transform: uppercase;
  color: #04befe;

}
p span {
  color: #FFFFFF;
  display: block;
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 48px;
  padding: 39px 0;
}
p span a {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 48px;
}
p a:hover {
  color: rgb(245,218,41);
}
