div.container-a{
  display: grid;
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto minmax(600px, auto);
  grid-gap: 20px;
  align-items: start;
  justify-content: start;
  margin: 0px 0px 600px 30;
  padding: 10px 20px 0px 80px;
  border-radius: 5px;
}

img.item{
  display: grid;
  box-shadow: 1px 1px 1px grey;
  height: auto;
  width: 420px;
  align-self: center;
  justify-content: start;
  margin: 60px 20px -80px 40px;
}
